@import "mocha.css";

* {
  font-family: "SauceCodePro NFP";
  font-size: 13px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.visible {
  background-color: @surface2;
  border-radius: 1rem;
}

#workspaces button.focused {
  background-color: @lavender;
  color: @surface0;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#cpu,
#memory,
#network,
#temperature,
#language,
#pulseaudio,
#idle_inhibitor,
#custom-lock,
#custom-power,
#custom-notification {
  background-color: @surface0;
  padding: 0rem 0.5rem;
  margin: 5px 0;
  /*border: 1px solid red;*/
}

#cpu, #memory {
	min-width: 4rem;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}
#idle_inhibitor {
    border-radius: 1rem 0px 0px 1rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#window {
}
